{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- index.html content starts here -->
<div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Posts</h5>
        <div class="d-flex justify-content-end gap-2">
    {% if user.is_authenticated %}
            <a href="{% url 'post_create' %}" id="create_new_post" class="btn btn-sm btn-primary">+ Add New</a>
            <a href="{% url 'drafts' user.username %}" id="view_drafts" class="btn btn-sm btn-secondary">View My
                Drafts</a>
    {% endif %}
             {% if users %}
            <div class="search-posts">
                <form method="get" class="d-flex gap-2">
                    <input type="text" name="q" value="{{ query }}" class="form-control me-2"
                        placeholder="Search Posts...">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Filter Posts By
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li>
                                <select name="user" class="form-select">
                                    <option value="">All Users</option>
                                    {% for u in users%}
                                        <option value="{{ u.id }}" 
                                        {% if selected_user == u.id|stringformat:"s" %}selected{% endif %}>
                                        {{ u.username }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </li>
                        </ul>
                    </div>
                    <button type="submit" class="btn btn-warning">Filter</button>
                </form>
            </div>
    {% endif %}
        </div>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="row">

                <!-- Blog Entries Column -->
                <div class="col-12 mt-3 left">
                    <div class="row">
                        {% for post in post_list %}
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="image-container">
                                        {% if "placeholder" in post.featured_image.url %}
                                        <img class="card-img-top" src="{% static 'images/default.jpg' %}"
                                            alt="placeholder image">
                                        {% else %}
                                        <img class="card-img-top" src=" {{ post.featured_image.url }}"
                                            alt="{{ post.title }}">
                                        {% endif %}
                                        <div class="image-flash">
                                            <p class="author">Author: {{ post.author }}</p>
                                        </div>
                                    </div>
                                    <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                        <h2 class="card-title">{{ post.title }}</h2>
                                        <p class="card-text">{{ post.excerpt }}</p>
                                    </a>

                                    <hr />
                                    <p class="card-text text-muted h6">{{ post.created_on}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:3 %}
                    </div>
                    <div class="row">
                        {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>
            {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>

    </div>
</div>
<!-- index.html content ends here -->
{% endblock %}

{% block copyright %}
Copyright 2025 Naveen Kumar Aremanda
{% endblock %}