{% extends 'base.html' %} 
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="masthead  ">
    <div class="container">
        <div class="row g-0">
          {% if user.is_authenticated and post.author == user %}
          <div class="d-flex mb-1 justify-content-end gap-2">
            <a href="{% url 'post_edit' post.slug %}"
            id="edit_post" class="btn btn-sm btn-info ">Edit</a>
            <a href="{% url 'post_delete' post.slug %}"
            id="delete_post" class="btn btn-sm btn-danger text-white">Delete</a>
          </div>
          {% endif %}
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">{{ post.title }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in post.featured_image.url %}
                <img src="{% static 'images/default.jpg' %}" class="scale" alt="placeholder">
                {% else %}
                <img src="{{ post.featured_image.url }}" class="scale" alt="{{ post.title }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container  ">
      <div class=" card mb-4 " >       
          
        <div class="card-header  d-flex justify-content-between align-items-center">
          <div>
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" 
								data-bs-toggle="tab"
								href="#tab1" role="tab"
								aria-controls="tab1" aria-selected="true">Problem Reported</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " 
								data-bs-toggle="tab"
								href="#tab2" role="tab"
								aria-controls="tab2" aria-selected="false">Rectification</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " 
								data-bs-toggle="tab"
								href="#tab3" role="tab"
								aria-controls="tab3" aria-selected="false">Customer-Details</a>
            </li>
          </ul>
          </div>
          <div class="d-flex justify-content-end">
            {% if post.status == 0 %}
            <a role="button" class="btn btn-sm btn-warning" aria-disabled="true">{{ post.get_status_display }}</a>
            {% endif %}
            {% if post.status == 1 %}
            <a role="button" class="btn btn-sm btn-info" aria-disabled="true">{{ post.get_status_display }}</a>
            {% endif %}
            {% if post.status == 2 %}
            <a role="button" class="btn btn-sm btn-secondary" aria-disabled="true">{{ post.get_status_display }}</a>
            {% endif %}
            {% if post.status == 3 %}
            <a role="button" class="btn btn-sm btn-success" aria-disabled="true">{{ post.get_status_display }}</a>
            {% endif %}
            {% if post.status == 99 %}
            <a role="button" class="btn btn-sm btn-danger" aria-disabled="true">{{ post.get_status_display }}</a>
            {% endif %}
          </div>
        </div>
        <div class="card-body tab-content border" id="postcontent">
          <div class="tab-pane fade in m-0 active show" id="tab1"
								 aria-labelledby="tab1">
          {{ post.problem_reported | safe }}
              </div>
              <div class="tab-pane fade " id="tab2"
								role="tabpanel" aria-labelledby="tab2">
          {{ post.rectification | safe }}
              </div>
              <div class="tab-pane fade " id="tab3"
								role="tabpanel" aria-labelledby="tab3">
                <div class="mb-2">
                  <label class="form-label"><strong>Customer</strong></label>
                  <input type="text" class="form-control" value="{{ post.customer }}" readonly>
                </div>
                
                <div class="mb-2">
                  <div class="mb-2">
                    <h6>Customer Address</h6>
                    <label class="form-label">Street</label>
                    <input type="text" class="form-control" 
                    value="{{ post.customer_address.street }}" readonly>
                  </div>
                  <div class="mb-2">
                    <label class="form-label">City</label>
                    <input type="text" class="form-control" 
                    value="{{ post.customer_address.city }}" readonly>
                  </div>
                  <div class="mb-2">
                    <label class="form-label">State</label>
                    <input type="text" class="form-control" 
                    value="{{ post.customer_address.state }}" readonly>
                  </div>
                  <div class="mb-2">
                    <label class="form-label">Postal Code</label>
                    <input type="text" class="form-control" 
                    value="{{ post.customer_address.postal_code }}" readonly>
                  </div>
                  <div class="mb-2">
                    <label class="form-label">Country</label>
                    <input type="text" class="form-control" 
                    value="{{ post.customer_address.country }}" readonly>
                  </div>
                </div>
              </div>
          </div>
    </div>
 <!-- Displaying count of comments -->
  <div class="row">
    <div class="col-12">
      <strong class="text-secondary">
        <i class="far fa-comments"></i> {{ comment_count }}
      </strong>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>
  <!-- Displaying Comments -->
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
      <h3>Comments:</h3>
      <div class="card-body">
        <!-- We want a for loop inside the empty control tags
          to iterate through each comment in comments -->
        {% for comment in comments %}
        <div class="p-2 comments
          {% if not comment.approved and comment.author == user %}
          faded{% elif not comment.approved %} d-none{% endif %}">
          <p class="font-weight-bold">
            {{ comment.author }}
            <span class="font-weight-normal">
              {{ comment.created_on }}
            </span> wrote:
          </p>
          <div id="comment{{ comment.id }}">
            {{ comment.body | linebreaks }}
          </div>
          {% if not comment.approved and comment.author == user %}
          <p class="approval">
            This comment is awaiting approval
          </p>
          {% endif %}
          {% if user.is_authenticated and comment.author == user %}
           <button class="btn btn-delete" comment_id="{{ comment.id }}">Delete</button>
          <button class="btn btn-edit" comment_id="{{ comment.id }}">Edit</button>
          {% endif %}
        </div>
        <!-- Our for loop ends here -->
        {% endfor %}
      </div>
    </div>
    <!-- Creating New Comments -->
    <div class="col-md-4 card mb-4 mt-3">
      <div class="card-body">
        {% if user.is_authenticated %}
        <h3>Leave a comment:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form id="commentForm" method="post"
          style="margin-top: 1.3em;">
          {{ comment_form | crispy }}
          {% csrf_token %}
          <button id="submitButton" type="submit"
            class="btn btn-signup btn-lg">Submit</button>
        </form>
        {% else %}
        <p>Log in to leave a comment</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
          id="deleteModalLabel">Delete comment?</h5>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your comment?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deletePostModal" tabindex="-1"
  aria-labelledby="deletePostModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
          id="deletePostModalLabel">Delete Post?</h5>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your Post?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">Close</button>
        <a id="deletePostConfirm" href="#" class="btn
          btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}